@use '@/styles/_mixins' as *;

.section {
  // padding: 30px 0;
}

.wrapper {
  @include section-width;

  padding-block: 30px;

  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  row-gap: 20px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
}

.left {
}

.info {
  max-width: 555px;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.supText {
  font-size: 12px;
  color: var(--color-text);
  margin-bottom: 10px;

  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.text {
  font-size: 14px;
  color: var(--color-text);

  @media (min-width: 768px) {
    font-size: 16px;
  }
}
