@use '@/styles/_mixins' as *;

.section {
  @include section-width;
  padding-block: 30px;
}

.wrapper {
  text-align: center;
}

.text {
  font-size: 18px;
  color: var(--color-text);

  @media (min-width: 768px) {
    font-size: 28px;
  }
}

.accent {
  font-family: var(--font-info);
  font-weight: 700;
  color: var(--color-dark);
  text-transform: uppercase;
}