/****************************************
  Venryn Sans
****************************************/

@font-face {
  font-family: "Venryn-Sans";
  src: url("/fonts/VenrynSans/VenrynSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Venryn-Sans";
  src: url("/fonts/VenrynSans/VenrynSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Venryn-Sans";
  src: url("/fonts/VenrynSans/VenrynSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Venryn-Sans";
  src: url("/fonts/VenrynSans/VenrynSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/****************************************
 Ringtails
****************************************/

@font-face {
  font-family: "Ringtails";
  src: url("/fonts/Ringtails/Ringtails-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/****************************************
 Veles
****************************************/

@font-face {
  font-family: "Veles";
  src: url("/fonts/Veles/Veles-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/**************************************/
