:root {
  --color-dark: #000;
  --color-light: #fff;
  // --color-text: #a1a1a1;
  --color-text: #666666;

  --transition-duration: 0.4s;

  --font-main: 'Venryn-Sans', sans-serif;
  --font-title: 'Ringtails', sans-serif;
  --font-info: 'Veles', sans-serif;
}