.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: var(--color-light);
}

.scrolled {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.wrapper {
  max-width: 1350px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  display: flex;
  color: var(--color-dark);
  width: 150px;

  @media (min-width: 1024px) {
    width: 180px;
  }
}
