@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-oswald);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.page-container {
  @apply max-w-7xl mx-auto px-4;
}

.flex-center {
  @apply flex justify-center items-center;
}

.section-py {
  @apply py-5 md:py-10;
}

.main-border {
  @apply border-black/8 dark:border-white/14;
}

.section-border {
  @apply border border-b-0 border-black/8 dark:border-white/14;
}

.title-color {
  @apply text-black dark:text-white;
}

.text-color {
  @apply text-zinc-600 dark:text-zinc-400;
}

.accent-color {
  @apply text-[#00B6CC];
}

.accent-border {
  @apply border-[#00B6CC];
}

.main-text {
  @apply text-sm leading-5 md:text-base md:leading-6 lg:text-lg lg:leading-7.5
}