@use '@/styles/_mixins' as *;

.section {
  @include section-width;
  padding-block: 30px;
}

.wrapper {
  display: grid;
  gap: 10px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

.article {
  padding: 10px;
}

.title {
  color: var(--color-dark);
  font-size: 18px;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    font-size: 20px;
    margin-bottom: 20px;
  }

  @media (min-width: 1024px) {
    font-size: 24px;

  }
}

.text {
  font-size: 16px;
  color: var(--color-text);

  @media (min-width: 1024px) {
    font-size: 18px;
  }
}